a {
  text-decoration: none;
}

.header-top {
  height: 56px;
  background-color: var(--bs-dark);
  color: var(--bs-body-bg);
  padding: 16px 0;
}
.header-top .bi {
  fill: var(--bs-body-bg);
  transition: all 0.3s ease-in-out;
}
.header-top .bi:hover {
  fill: var(--bs-gray-400);
}
.header-top .social-icon .bi {
  margin-left: 10px;
}

////////////////////////////////////////////////////////////////////////
//////////////  Nav  ///////////////////
////////////////////////

.menu {
  // background-image: url(../img/banner.png);
  // background-repeat: no-repeat;
  height: 900px;
  // background-position: right;
  position: relative;
}

nav.bg-primary {
  background: transparent !important;
}

.banner-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60% !important;
}
.banner-portfolio {
  position: absolute;
  right: 0;
  bottom: 200px;
  width: 40%;
  right: 130px;
  bottom: 312px;
  width: 40%;
}
.banner-text {
  position: absolute;
  width: 40%;
  left: 0%;
  top: 50%;
  transform: translate(-0%, -50%);
  & h1 span {
    color: var(--bs-primary);
  }
  .btn {
    width: 170px;
    height: 54px;
    background-color: var(--bs-primary);
    color: var(--bs-body-bg);
    padding: 14px 7px;
    margin-right: 53px;
    font-weight: 500;
  }
  .banner-btn-vid {
    width: 176px;
    height: 56px;
    span {
      width: 100px !important;
      height: 100px;
      border-radius: 50%;
      background-color: var(--bs-primary);
      display: inline-block;
      padding: 10px;
      span {
        width: 90px !important;
        height: 90px;
        background: red;
        display: inline-block;
      }
    }
  }
}
.banner-content {
  position: relative;
}
